{% from 'macros.html' import render_table %}
<!doctype html>
<html>
    <head>
        <title>Items</title>
        <link rel="stylesheet" href="/static/styles.css" />
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> -->
    </head>
    <body>
        <h1 class="page-title">Your Fallen London Inventory</h1>

        Options:
        <form method="post" action="/set_comparison">
            <select name="comparison_type" onchange="this.form.submit()">
                <option value="all_items">All Items</option>
                <option value="free_items">Free Items</option>
            </select>
        </form>
        
        {{ render_table(table_dictionary, stat_group, all_categories,totals) }}
        
        <pre>{{ totals|tojson(indent=2) }}</pre>
        <!-- <pre>{{ table_dictionary|tojson(indent=2) }}</pre> -->

        <h2>Test table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th> Category </th>
                    <th> Icon </th>
                    <th colspan="2" > Watchful </th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2"> Item </th>
                    <th> Value </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td class="item-text">Smock of Four Thousand Three Hundred and Eight Pockets</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
