{% macro render_table(table_dictionary, stat_group, all_categories) %}
    <table class="table">
        <thead>
            <tr>
                <th rowspan="2">Category</th>
                {% for stat, icon in stat_group.items() %}
                    {% set icon_path = 'icons/' + icon %}
                    <th> <img class="header-icon" src="{{ url_for('static', filename=icon_path)}}" alt="{{stat}}"> </th>

                    <th colspan="2">{{ stat|replace("_", " ") }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for stat in stat_group %}
                    <th colspan="2">Item</th>
                    <th>Value</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for category in all_categories %}
                <tr>
                    <td>{{ category }}</td>
                    {% for stat in stat_group %}
                        {% if category in table_dictionary["Changeable"] %}
                            {% set top_category = "Changeable" %}
                        {% else %}
                            {% set top_category = "Static" %}
                        {% endif %}
                        {% set current_stat = table_dictionary[top_category][category][stat] %}
                        {% set current_stat_value = current_stat["have_item"]["value"] %}

                        {% set icon_path = 'icons/' + current_stat["have_item"]["icon"] %}
                        
                        <td> 
                            <img class="{% if current_stat_value == 0 %} item-image-blank{%else%}item-image{% endif %}" src="{{ url_for('static', filename=icon_path) }}" alt="{{ stat }}">

                        </td>
                        <td>
                            <div class="div-center">
                            <p class="item-text">{{ current_stat["have_item"]["item_name"] }} </p>
                            </div>
                        </td>
                        <td class="item-value" {{ 'class=' + current_stat["have_item"]["color"] if "color" in current_stat["have_item"] else '' }}>{{ current_stat["have_item"]["value"] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
{% endmacro %}