.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.yellow {color: yellow; }
.backgroundold {color:#e2e2e2;}
.backgroundFL {color: #bdb29e;}

tr:nth-child(even) {
    /* background-color: #bdb29e; */
    background-image: url("https://images.fallenlondon.com/static/bg-paper.png");
}

.page-title{
    font-family: "Roboto Slab",Georgia,Times,serif;
}
.table {
    border-spacing: 0;
    /* border-right: red; */
    border: solid 1px;
    table-layout: fixed;
}

.sideheader-category {
}

.div-center {
    /* vertical-align: middle; */
}

.item-text{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5%;
}
.item-value {
    /* font-family: "Roboto Slab",Georgia,Times,serif; */
    text-align: -webkit-center;
    font-weight: bold;
    width: 2em;
}

.item-max-zero {
    color:gray;
}

td {
    /* height: 60px; */ /* adjust as needed */
    /* vertical-align: middle; */
}


tr {
    /* height: 60px; adjust as needed */
} 
.w3-border-0{border:0!important}.w3-border{border: 1px solid #ccc!important;height: 5px;}

.w3-border-grey,.w3-hover-border-grey:hover,.w3-border-gray,.w3-hover-border-gray:hover{border-color:#9e9e9e!important}

.header-category, .sideheader-category {
    width: 6em;
    /* margin: 5%; */
    /* display: -webkit-box; */
    /* -webkit-box-align: center; */
    /* column-width: 1000px; */
    /* color: red; */
}

.sideheader-category{
}

/* Header should be 11em*/
.header-statname{
    /* font-size: 0.1em; */
    width: 11em;
    margin: 0;
    word-wrap: break-word;
}

.value-column {
    border-right: 1px solid #552929;
}

.header-icon {
    /* max-width: 1px; */
    width: 40px;
}




.item-image, .item-image-blank {
    width: 40px;
    max-height: 40px;
}

.item-image-blank {
    filter:grayscale(1);
}

.item-text-blank {
    opacity: 30%;
}

/* .centered-text {
    text-align: center;
    vertical-align: middle;
} */


/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
visibility: hidden;
width: 300px;
background-color: #555;
color: #fff;
text-align: center;
padding: 5px 0;
border-radius: 6px;

/* Position the tooltip text */
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -60px;

/* Fade in tooltip */
opacity: 0;
transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
visibility: visible;
opacity: 1;
}